In [1]:
import json
import pandas as pd

In [2]:
d = []
with open('roam_prescription_based_prediction1.jsonl') as json_data:
    for line in json_data:
        d.append(json.loads(line))
d[1]

{'cms_prescription_counts': {'AMOXICILLIN': 52,
  'CEPHALEXIN': 23,
  'HYDROCODONE-ACETAMINOPHEN': 28},
 'npi': '1992715205',
 'provider_variables': {'brand_name_rx_count': 0,
  'gender': 'M',
  'generic_rx_count': 103,
  'region': 'South',
  'settlement_type': 'non-urban',
  'specialty': 'General Practice',
  'years_practicing': 7}}

In [3]:
d[:2]

[{'cms_prescription_counts': {'ABILIFY': 11,
   'ALLOPURINOL': 86,
   'ALPRAZOLAM': 45,
   'AMLODIPINE BESYLATE': 175,
   'AMLODIPINE BESYLATE-BENAZEPRIL': 12,
   'ATENOLOL': 62,
   'ATENOLOL-CHLORTHALIDONE': 53,
   'ATORVASTATIN CALCIUM': 19,
   'AZITHROMYCIN': 18,
   'BENAZEPRIL HCL': 11,
   'BUMETANIDE': 53,
   'BYSTOLIC': 14,
   'CALCITRIOL': 79,
   'CALCIUM ACETATE': 85,
   'CARISOPRODOL': 40,
   'CARVEDILOL': 36,
   'CIPROFLOXACIN HCL': 19,
   'CLONIDINE HCL': 43,
   'CLOPIDOGREL': 22,
   'DIAZEPAM': 24,
   'DIOVAN': 20,
   'DOXAZOSIN MESYLATE': 26,
   'FENOFIBRATE': 14,
   'FUROSEMIDE': 162,
   'GABAPENTIN': 35,
   'GLYBURIDE': 16,
   'HYDRALAZINE HCL': 50,
   'HYDROCHLOROTHIAZIDE': 59,
   'HYDROCODONE-ACETAMINOPHEN': 64,
   'IRBESARTAN': 11,
   'ISOSORBIDE MONONITRATE ER': 13,
   'KLOR-CON M10': 20,
   'LABETALOL HCL': 28,
   'LANTUS': 20,
   'LEVOTHYROXINE SODIUM': 12,
   'LISINOPRIL': 44,
   'LISINOPRIL-HYDROCHLOROTHIAZIDE': 19,
   'LOSARTAN POTASSIUM': 41,
   'LOSARTAN-HYDROCHLOROTHIAZIDE': 14,
   'LOVASTATIN': 11,
   'MEGESTROL ACETATE': 11,
   'MELOXICAM': 29,
   'METOLAZONE': 73,
   'METOPROLOL SUCCINATE': 104,
   'METOPROLOL TARTRATE': 93,
   'MIDODRINE HCL': 12,
   'MINOXIDIL': 14,
   'NEXIUM': 44,
   'NIFEDICAL XL': 32,
   'NIFEDIPINE ER': 51,
   'NOVOLOG': 12,
   'OMEPRAZOLE': 35,
   'OXYBUTYNIN CHLORIDE': 11,
   'OXYCODONE HCL': 51,
   'PANTOPRAZOLE SODIUM': 13,
   'POTASSIUM CHLORIDE': 30,
   'PRAVASTATIN SODIUM': 13,
   'PREDNISONE': 40,
   'RANITIDINE HCL': 21,
   'RENVELA': 117,
   'SENSIPAR': 94,
   'SERTRALINE HCL': 14,
   'SIMVASTATIN': 14,
   'SPIRONOLACTONE': 50,
   'TAMSULOSIN HCL': 14,
   'TEMAZEPAM': 41,
   'TRAMADOL HCL': 11,
   'ZOLPIDEM TARTRATE': 41},
  'npi': '1295763035',
  'provider_variables': {'brand_name_rx_count': 384,
   'gender': 'M',
   'generic_rx_count': 2287,
   'region': 'South',
   'settlement_type': 'non-urban',
   'specialty': 'Nephrology',
   'years_practicing': 7}},
 {'cms_prescription_counts': {'AMOXICILLIN': 52,
   'CEPHALEXIN': 23,
   'HYDROCODONE-ACETAMINOPHEN': 28},
  'npi': '1992715205',
  'provider_variables': {'brand_name_rx_count': 0,
   'gender': 'M',
   'generic_rx_count': 103,
   'region': 'South',
   'settlement_type': 'non-urban',
   'specialty': 'General Practice',
   'years_practicing': 7}}]

In [4]:
d[1]
print(d[1].keys())
print(d[1].values(),"\n")
for key, value in d[1].items():
    if 'npi' not in key and 'provider_variables' not in key:
        print(value)
        print(type(value))
        #df = pd.DataFrame.from_dict(value)
        s = pd.Series(value)
        df = s.to_frame().T
        #df = pd.DataFrame(value)
        for key_base, value_base in value.items():
            print(key_base, value_base)
s

dict_keys(['provider_variables', 'npi', 'cms_prescription_counts'])
dict_values([{'region': 'South', 'settlement_type': 'non-urban', 'specialty': 'General Practice', 'gender': 'M', 'years_practicing': 7, 'generic_rx_count': 103, 'brand_name_rx_count': 0}, '1992715205', {'HYDROCODONE-ACETAMINOPHEN': 28, 'AMOXICILLIN': 52, 'CEPHALEXIN': 23}])

{'HYDROCODONE-ACETAMINOPHEN': 28, 'AMOXICILLIN': 52, 'CEPHALEXIN': 23}
<class 'dict'>
HYDROCODONE-ACETAMINOPHEN 28
AMOXICILLIN 52
CEPHALEXIN 23

AMOXICILLIN                  52
CEPHALEXIN                   23
HYDROCODONE-ACETAMINOPHEN    28
dtype: int64

In [5]:
df

   AMOXICILLIN  CEPHALEXIN  HYDROCODONE-ACETAMINOPHEN
0           52          23                         28

In [6]:
dfs = []
for i, record in enumerate(d[0:3]):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            print(key, value)
            print(type(value))
            s = pd.Series(value)
            df = s.to_frame().T
            df = df.rename(index={0: i})
            dfs.append(df)
            for key_base, value_base in value.items():
                print(key_base, value_base)
            print("\n\n")
dfs[0]

cms_prescription_counts {'METOLAZONE': 73, 'KLOR-CON M10': 20, 'NIFEDIPINE ER': 51, 'OXYCODONE HCL': 51, 'METOPROLOL SUCCINATE': 104, 'NIFEDICAL XL': 32, 'AMLODIPINE BESYLATE-BENAZEPRIL': 12, 'MEGESTROL ACETATE': 11, 'LISINOPRIL-HYDROCHLOROTHIAZIDE': 19, 'CIPROFLOXACIN HCL': 19, 'HYDROCODONE-ACETAMINOPHEN': 64, 'ATORVASTATIN CALCIUM': 19, 'SERTRALINE HCL': 14, 'RENVELA': 117, 'SPIRONOLACTONE': 50, 'MELOXICAM': 29, 'BENAZEPRIL HCL': 11, 'IRBESARTAN': 11, 'ALLOPURINOL': 86, 'RANITIDINE HCL': 21, 'OXYBUTYNIN CHLORIDE': 11, 'MIDODRINE HCL': 12, 'PREDNISONE': 40, 'LABETALOL HCL': 28, 'SENSIPAR': 94, 'CALCIUM ACETATE': 85, 'PANTOPRAZOLE SODIUM': 13, 'DIOVAN': 20, 'ATENOLOL-CHLORTHALIDONE': 53, 'LOSARTAN-HYDROCHLOROTHIAZIDE': 14, 'AZITHROMYCIN': 18, 'CLOPIDOGREL': 22, 'TRAMADOL HCL': 11, 'ISOSORBIDE MONONITRATE ER': 13, 'ZOLPIDEM TARTRATE': 41, 'BYSTOLIC': 14, 'CLONIDINE HCL': 43, 'FENOFIBRATE': 14, 'ALPRAZOLAM': 45, 'LOSARTAN POTASSIUM': 41, 'LEVOTHYROXINE SODIUM': 12, 'METOPROLOL TARTRATE': 93, 'TAMSULOSIN HCL': 14, 'PRAVASTATIN SODIUM': 13, 'LANTUS': 20, 'FUROSEMIDE': 162, 'MINOXIDIL': 14, 'SIMVASTATIN': 14, 'AMLODIPINE BESYLATE': 175, 'DOXAZOSIN MESYLATE': 26, 'TEMAZEPAM': 41, 'LISINOPRIL': 44, 'POTASSIUM CHLORIDE': 30, 'CARVEDILOL': 36, 'HYDRALAZINE HCL': 50, 'CALCITRIOL': 79, 'ABILIFY': 11, 'BUMETANIDE': 53, 'NOVOLOG': 12, 'OMEPRAZOLE': 35, 'ATENOLOL': 62, 'NEXIUM': 44, 'CARISOPRODOL': 40, 'DIAZEPAM': 24, 'HYDROCHLOROTHIAZIDE': 59, 'LOVASTATIN': 11, 'GLYBURIDE': 16, 'GABAPENTIN': 35}
<class 'dict'>
METOLAZONE 73
KLOR-CON M10 20
NIFEDIPINE ER 51
OXYCODONE HCL 51
METOPROLOL SUCCINATE 104
NIFEDICAL XL 32
AMLODIPINE BESYLATE-BENAZEPRIL 12
MEGESTROL ACETATE 11
LISINOPRIL-HYDROCHLOROTHIAZIDE 19
CIPROFLOXACIN HCL 19
HYDROCODONE-ACETAMINOPHEN 64
ATORVASTATIN CALCIUM 19
SERTRALINE HCL 14
RENVELA 117
SPIRONOLACTONE 50
MELOXICAM 29
BENAZEPRIL HCL 11
IRBESARTAN 11
ALLOPURINOL 86
RANITIDINE HCL 21
OXYBUTYNIN CHLORIDE 11
MIDODRINE HCL 12
PREDNISONE 40
LABETALOL HCL 28
SENSIPAR 94
CALCIUM ACETATE 85
PANTOPRAZOLE SODIUM 13
DIOVAN 20
ATENOLOL-CHLORTHALIDONE 53
LOSARTAN-HYDROCHLOROTHIAZIDE 14
AZITHROMYCIN 18
CLOPIDOGREL 22
TRAMADOL HCL 11
ISOSORBIDE MONONITRATE ER 13
ZOLPIDEM TARTRATE 41
BYSTOLIC 14
CLONIDINE HCL 43
FENOFIBRATE 14
ALPRAZOLAM 45
LOSARTAN POTASSIUM 41
LEVOTHYROXINE SODIUM 12
METOPROLOL TARTRATE 93
TAMSULOSIN HCL 14
PRAVASTATIN SODIUM 13
LANTUS 20
FUROSEMIDE 162
MINOXIDIL 14
SIMVASTATIN 14
AMLODIPINE BESYLATE 175
DOXAZOSIN MESYLATE 26
TEMAZEPAM 41
LISINOPRIL 44
POTASSIUM CHLORIDE 30
CARVEDILOL 36
HYDRALAZINE HCL 50
CALCITRIOL 79
ABILIFY 11
BUMETANIDE 53
NOVOLOG 12
OMEPRAZOLE 35
ATENOLOL 62
NEXIUM 44
CARISOPRODOL 40
DIAZEPAM 24
HYDROCHLOROTHIAZIDE 59
LOVASTATIN 11
GLYBURIDE 16
GABAPENTIN 35



cms_prescription_counts {'HYDROCODONE-ACETAMINOPHEN': 28, 'AMOXICILLIN': 52, 'CEPHALEXIN': 23}
<class 'dict'>
HYDROCODONE-ACETAMINOPHEN 28
AMOXICILLIN 52
CEPHALEXIN 23



cms_prescription_counts {'CLINDAMYCIN HCL': 11, 'AMOXICILLIN': 73, 'CEPHALEXIN': 28}
<class 'dict'>
CLINDAMYCIN HCL 11
AMOXICILLIN 73
CEPHALEXIN 28

,ABILIFY,ALLOPURINOL,ALPRAZOLAM,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE-BENAZEPRIL,ATENOLOL,ATENOLOL-CHLORTHALIDONE,ATORVASTATIN CALCIUM,AZITHROMYCIN,BENAZEPRIL HCL,...,RANITIDINE HCL,RENVELA,SENSIPAR,SERTRALINE HCL,SIMVASTATIN,SPIRONOLACTONE,TAMSULOSIN HCL,TEMAZEPAM,TRAMADOL HCL,ZOLPIDEM TARTRATE
0,11,86,45,175,12,62,53,19,18,11,...,21,117,94,14,14,50,14,41,11,41

In [7]:
dfs[1]

   AMOXICILLIN  CEPHALEXIN  HYDROCODONE-ACETAMINOPHEN
1           52          23                         28

In [8]:
dfs[2]

   AMOXICILLIN  CEPHALEXIN  CLINDAMYCIN HCL
2           73          28               11

In [9]:
combine = pd.concat(dfs, axis=1)
combine

,ABILIFY,ALLOPURINOL,ALPRAZOLAM,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE-BENAZEPRIL,ATENOLOL,ATENOLOL-CHLORTHALIDONE,ATORVASTATIN CALCIUM,AZITHROMYCIN,BENAZEPRIL HCL,...,TAMSULOSIN HCL,TEMAZEPAM,TRAMADOL HCL,ZOLPIDEM TARTRATE,AMOXICILLIN,CEPHALEXIN,HYDROCODONE-ACETAMINOPHEN,AMOXICILLIN,CEPHALEXIN,CLINDAMYCIN HCL
0,11.0,86.0,45.0,175.0,12.0,62.0,53.0,19.0,18.0,11.0,...,14.0,41.0,11.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52.0,23.0,28.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,28.0,11.0

In [ ]:
%%time
dfs = []
for i, record in enumerate(d):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            s = pd.Series(value)
            df = s.to_frame().T
            df = df.rename(index={0: i})
            dfs.append(df)

In [ ]:
len(dfs)

In [29]:
%time combine = pd.concat(dfs, axis=0)

Wall time: 184 ms

In [ ]:
combine

### Seems this will work to combine records into single dataframe

In [ ]:
%%time
df = pd.DataFrame()
for i, record in enumerate(d):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            s = pd.Series(value)
            df_temp = s.to_frame().T
            df_temp = df_temp.rename(index={0: i})
            df = df.append(df_temp)

In [26]:
df

,ABACAVIR,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ACARBOSE,ACEBUTOLOL HCL,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACETIC ACID,ACIPHEX,...,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA,ZYVOX
0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,37.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,NaN,110.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,116.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,15.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,92.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,14.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,57.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,32.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,NaN,107.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,56.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,NaN,NaN,NaN,NaN,NaN,NaN,11.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
971,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
972,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,13.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
973,NaN,182.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,357.0,68.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
974,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
975,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,24.0,NaN,NaN,NaN,NaN,NaN
976,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
977,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
978,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,20.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
979,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
980,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
981,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
982,NaN,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,16.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
983,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
984,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
986,NaN,NaN,NaN,NaN,NaN,NaN,18.0,NaN,NaN,NaN,...,160.0,12.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
987,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
988,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
989,NaN,NaN,NaN,NaN,NaN,NaN,13.0,NaN,NaN,NaN,...,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
991,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
992,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,121.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
993,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
994,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
995,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,...,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
df.head()

,ABILIFY,ALLOPURINOL,ALPRAZOLAM,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE-BENAZEPRIL,AMOXICILLIN,ATENOLOL,ATENOLOL-CHLORTHALIDONE,ATORVASTATIN CALCIUM,AZITHROMYCIN,...,RANITIDINE HCL,RENVELA,SENSIPAR,SERTRALINE HCL,SIMVASTATIN,SPIRONOLACTONE,TAMSULOSIN HCL,TEMAZEPAM,TRAMADOL HCL,ZOLPIDEM TARTRATE
0,11.0,86.0,45.0,175.0,12.0,NaN,62.0,53.0,19.0,18.0,...,21.0,117.0,94.0,14.0,14.0,50.0,14.0,41.0,11.0,41.0
1,NaN,NaN,NaN,NaN,NaN,52.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,73.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.tail()

,ABACAVIR,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ACARBOSE,ACEBUTOLOL HCL,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACETIC ACID,ACIPHEX,...,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA,ZYVOX
995,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,...,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df.describe()

,ABACAVIR,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ACARBOSE,ACEBUTOLOL HCL,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACETIC ACID,ACIPHEX,...,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA,ZYVOX
count,6.000000,96.000000,1.0,3.000000,5.000000,1.0,56.000000,2.000000,1.0,6.000000,...,207.000000,16.000000,1.0,1.0,14.000000,10.000000,2.0,3.000000,8.000000,1.0
mean,26.166667,76.239583,13.0,22.666667,20.400000,11.0,22.160714,17.500000,16.0,17.666667,...,53.613527,18.812500,13.0,12.0,28.142857,17.300000,12.0,34.333333,37.500000,11.0
std,17.151288,78.991904,NaN,11.060440,7.021396,NaN,12.482390,0.707107,NaN,5.354126,...,72.008936,14.185527,NaN,NaN,25.527834,5.831905,0.0,24.172988,41.757805,NaN
min,12.000000,11.000000,13.0,11.000000,14.000000,11.0,11.000000,17.000000,16.0,13.000000,...,11.000000,11.000000,13.0,12.0,11.000000,11.000000,12.0,12.000000,11.000000,11.0
25%,12.750000,20.000000,13.0,17.500000,16.000000,11.0,14.000000,17.250000,16.0,14.250000,...,17.000000,12.000000,13.0,12.0,12.500000,13.000000,12.0,21.500000,11.750000,11.0
50%,22.000000,50.500000,13.0,24.000000,16.000000,11.0,17.500000,17.500000,16.0,15.500000,...,31.000000,14.000000,13.0,12.0,17.500000,15.000000,12.0,31.000000,21.000000,11.0
75%,32.000000,107.750000,13.0,28.500000,27.000000,11.0,26.000000,17.750000,16.0,19.750000,...,65.000000,18.500000,13.0,12.0,25.500000,21.500000,12.0,45.500000,44.250000,11.0
max,56.000000,427.000000,13.0,33.000000,29.000000,11.0,69.000000,18.000000,16.0,27.000000,...,783.000000,68.000000,13.0,12.0,95.000000,28.000000,12.0,60.000000,135.000000,11.0

## Going to try ensuring all columns exist for every observation before combining df's

In [76]:
col_names = []
num_records = 0
for i, record in enumerate(d):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            #print(key, value)
            #print(type(value))
            #s = pd.Series(value)
            #df = s.to_frame().T
            #df = df.rename(index={0: i})
            #dfs.append(df)
            for key_base, value_base in value.items():
                #print(key_base, value_base)
                col_names.append(key_base)
            #print("\n\n")
    num_records = i
col_names = set(col_names)
print(col_names)
print(len(col_names))

1ST TIER UNIFINE PENTIPS

AttributeError: 'str' object has no attribute 'items'

In [77]:
%%time

from ipywidgets import FloatProgress
from IPython.display import display
f = FloatProgress(min=0, max=100)
display(f)

import numpy as np
dfs = []
for i, record in enumerate(d):
    f.value = 100*i/num_records
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            #print(key, value)
            #print(type(value))
            s = pd.Series(value)
            df = s.to_frame().T
            df = df.rename(index={0: i})
            df = pd.concat([df,pd.DataFrame(columns=col_names)])
            #if set(df.columns).issubset(col_names):
             #   print('yes')
            #for c in col_names:
             #   if c not in df:
             #       df[c] = np.nan
            dfs.append(df)
            #for key_base, value_base in value.items():
            #    print(key_base, value_base)
            #print("\n\n")
dfs[0]

ZeroDivisionError: division by zero

In [56]:
dfs[0]

,1ST TIER UNIFINE PENTIPS,ABACAVIR,ABELCET,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ABRAXANE,ACAMPROSATE CALCIUM,ACANYA,ACARBOSE,...,ZYFLO,ZYFLO CR,ZYLET,ZYLOPRIM,ZYMAXID,ZYPREXA,ZYPREXA RELPREVV,ZYPREXA ZYDIS,ZYTIGA,ZYVOX
0,NaN,NaN,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [63]:
%time combine = pd.concat(dfs[:20], axis=0)
#combine

Wall time: 1.45 s

In [67]:
%%time
df_combined = pd.DataFrame()
for d in dfs[:20]:
    df_combined = df_combined.append(d)

Wall time: 4.63 s

In [58]:
len(d)

129999