In [1]:
import json
import pandas as pd

In [2]:
d = []
with open('roam_prescription_based_prediction1.jsonl') as json_data:
    for line in json_data:
        d.append(json.loads(line))
d[1]

{'cms_prescription_counts': {'AMOXICILLIN': 52,
  'CEPHALEXIN': 23,
  'HYDROCODONE-ACETAMINOPHEN': 28},
 'npi': '1992715205',
 'provider_variables': {'brand_name_rx_count': 0,
  'gender': 'M',
  'generic_rx_count': 103,
  'region': 'South',
  'settlement_type': 'non-urban',
  'specialty': 'General Practice',
  'years_practicing': 7}}

In [3]:
d[:2]

[{'cms_prescription_counts': {'ABILIFY': 11,
   'ALLOPURINOL': 86,
   'ALPRAZOLAM': 45,
   'AMLODIPINE BESYLATE': 175,
   'AMLODIPINE BESYLATE-BENAZEPRIL': 12,
   'ATENOLOL': 62,
   'ATENOLOL-CHLORTHALIDONE': 53,
   'ATORVASTATIN CALCIUM': 19,
   'AZITHROMYCIN': 18,
   'BENAZEPRIL HCL': 11,
   'BUMETANIDE': 53,
   'BYSTOLIC': 14,
   'CALCITRIOL': 79,
   'CALCIUM ACETATE': 85,
   'CARISOPRODOL': 40,
   'CARVEDILOL': 36,
   'CIPROFLOXACIN HCL': 19,
   'CLONIDINE HCL': 43,
   'CLOPIDOGREL': 22,
   'DIAZEPAM': 24,
   'DIOVAN': 20,
   'DOXAZOSIN MESYLATE': 26,
   'FENOFIBRATE': 14,
   'FUROSEMIDE': 162,
   'GABAPENTIN': 35,
   'GLYBURIDE': 16,
   'HYDRALAZINE HCL': 50,
   'HYDROCHLOROTHIAZIDE': 59,
   'HYDROCODONE-ACETAMINOPHEN': 64,
   'IRBESARTAN': 11,
   'ISOSORBIDE MONONITRATE ER': 13,
   'KLOR-CON M10': 20,
   'LABETALOL HCL': 28,
   'LANTUS': 20,
   'LEVOTHYROXINE SODIUM': 12,
   'LISINOPRIL': 44,
   'LISINOPRIL-HYDROCHLOROTHIAZIDE': 19,
   'LOSARTAN POTASSIUM': 41,
   'LOSARTAN-HYDROCHLOROTHIAZIDE': 14,
   'LOVASTATIN': 11,
   'MEGESTROL ACETATE': 11,
   'MELOXICAM': 29,
   'METOLAZONE': 73,
   'METOPROLOL SUCCINATE': 104,
   'METOPROLOL TARTRATE': 93,
   'MIDODRINE HCL': 12,
   'MINOXIDIL': 14,
   'NEXIUM': 44,
   'NIFEDICAL XL': 32,
   'NIFEDIPINE ER': 51,
   'NOVOLOG': 12,
   'OMEPRAZOLE': 35,
   'OXYBUTYNIN CHLORIDE': 11,
   'OXYCODONE HCL': 51,
   'PANTOPRAZOLE SODIUM': 13,
   'POTASSIUM CHLORIDE': 30,
   'PRAVASTATIN SODIUM': 13,
   'PREDNISONE': 40,
   'RANITIDINE HCL': 21,
   'RENVELA': 117,
   'SENSIPAR': 94,
   'SERTRALINE HCL': 14,
   'SIMVASTATIN': 14,
   'SPIRONOLACTONE': 50,
   'TAMSULOSIN HCL': 14,
   'TEMAZEPAM': 41,
   'TRAMADOL HCL': 11,
   'ZOLPIDEM TARTRATE': 41},
  'npi': '1295763035',
  'provider_variables': {'brand_name_rx_count': 384,
   'gender': 'M',
   'generic_rx_count': 2287,
   'region': 'South',
   'settlement_type': 'non-urban',
   'specialty': 'Nephrology',
   'years_practicing': 7}},
 {'cms_prescription_counts': {'AMOXICILLIN': 52,
   'CEPHALEXIN': 23,
   'HYDROCODONE-ACETAMINOPHEN': 28},
  'npi': '1992715205',
  'provider_variables': {'brand_name_rx_count': 0,
   'gender': 'M',
   'generic_rx_count': 103,
   'region': 'South',
   'settlement_type': 'non-urban',
   'specialty': 'General Practice',
   'years_practicing': 7}}]

In [4]:
d[1]
print(d[1].keys())
print(d[1].values(),"\n")
for key, value in d[1].items():
    if 'npi' not in key and 'provider_variables' not in key:
        print(value)
        print(type(value))
        #df = pd.DataFrame.from_dict(value)
        s = pd.Series(value)
        df = s.to_frame().T
        #df = pd.DataFrame(value)
        for key_base, value_base in value.items():
            print(key_base, value_base)
s

dict_keys(['npi', 'provider_variables', 'cms_prescription_counts'])
dict_values(['1992715205', {'generic_rx_count': 103, 'years_practicing': 7, 'settlement_type': 'non-urban', 'specialty': 'General Practice', 'region': 'South', 'brand_name_rx_count': 0, 'gender': 'M'}, {'AMOXICILLIN': 52, 'HYDROCODONE-ACETAMINOPHEN': 28, 'CEPHALEXIN': 23}])

{'AMOXICILLIN': 52, 'HYDROCODONE-ACETAMINOPHEN': 28, 'CEPHALEXIN': 23}
<class 'dict'>
AMOXICILLIN 52
HYDROCODONE-ACETAMINOPHEN 28
CEPHALEXIN 23

AMOXICILLIN                  52
CEPHALEXIN                   23
HYDROCODONE-ACETAMINOPHEN    28
dtype: int64

In [5]:
df

   AMOXICILLIN  CEPHALEXIN  HYDROCODONE-ACETAMINOPHEN
0           52          23                         28

In [45]:
dfs = []
for i, record in enumerate(d[0:3]):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            print(key, value)
            print(type(value))
            s = pd.Series(value)
            df = s.to_frame().T
            df = df.rename(index={0: i})
            dfs.append(df)
            for key_base, value_base in value.items():
                print(key_base, value_base)
            print("\n\n")
dfs[0]

cms_prescription_counts {'LANTUS': 20, 'AZITHROMYCIN': 18, 'HYDROCODONE-ACETAMINOPHEN': 64, 'SPIRONOLACTONE': 50, 'IRBESARTAN': 11, 'ALLOPURINOL': 86, 'MIDODRINE HCL': 12, 'LOVASTATIN': 11, 'AMLODIPINE BESYLATE': 175, 'FENOFIBRATE': 14, 'MINOXIDIL': 14, 'GABAPENTIN': 35, 'CALCITRIOL': 79, 'TRAMADOL HCL': 11, 'HYDRALAZINE HCL': 50, 'CLOPIDOGREL': 22, 'KLOR-CON M10': 20, 'OXYBUTYNIN CHLORIDE': 11, 'LABETALOL HCL': 28, 'DIOVAN': 20, 'CLONIDINE HCL': 43, 'SIMVASTATIN': 14, 'ABILIFY': 11, 'NEXIUM': 44, 'PANTOPRAZOLE SODIUM': 13, 'POTASSIUM CHLORIDE': 30, 'ALPRAZOLAM': 45, 'TEMAZEPAM': 41, 'LISINOPRIL': 44, 'CIPROFLOXACIN HCL': 19, 'MEGESTROL ACETATE': 11, 'CALCIUM ACETATE': 85, 'TAMSULOSIN HCL': 14, 'RANITIDINE HCL': 21, 'PRAVASTATIN SODIUM': 13, 'BUMETANIDE': 53, 'SERTRALINE HCL': 14, 'LEVOTHYROXINE SODIUM': 12, 'DIAZEPAM': 24, 'CARISOPRODOL': 40, 'ZOLPIDEM TARTRATE': 41, 'HYDROCHLOROTHIAZIDE': 59, 'CARVEDILOL': 36, 'OMEPRAZOLE': 35, 'LOSARTAN POTASSIUM': 41, 'METOLAZONE': 73, 'OXYCODONE HCL': 51, 'FUROSEMIDE': 162, 'SENSIPAR': 94, 'GLYBURIDE': 16, 'ISOSORBIDE MONONITRATE ER': 13, 'BENAZEPRIL HCL': 11, 'ATENOLOL': 62, 'NOVOLOG': 12, 'METOPROLOL SUCCINATE': 104, 'LISINOPRIL-HYDROCHLOROTHIAZIDE': 19, 'ATORVASTATIN CALCIUM': 19, 'PREDNISONE': 40, 'RENVELA': 117, 'BYSTOLIC': 14, 'ATENOLOL-CHLORTHALIDONE': 53, 'NIFEDICAL XL': 32, 'AMLODIPINE BESYLATE-BENAZEPRIL': 12, 'METOPROLOL TARTRATE': 93, 'MELOXICAM': 29, 'DOXAZOSIN MESYLATE': 26, 'NIFEDIPINE ER': 51, 'LOSARTAN-HYDROCHLOROTHIAZIDE': 14}
<class 'dict'>
LANTUS 20
AZITHROMYCIN 18
HYDROCODONE-ACETAMINOPHEN 64
SPIRONOLACTONE 50
IRBESARTAN 11
ALLOPURINOL 86
MIDODRINE HCL 12
LOVASTATIN 11
AMLODIPINE BESYLATE 175
FENOFIBRATE 14
MINOXIDIL 14
GABAPENTIN 35
CALCITRIOL 79
TRAMADOL HCL 11
HYDRALAZINE HCL 50
CLOPIDOGREL 22
KLOR-CON M10 20
OXYBUTYNIN CHLORIDE 11
LABETALOL HCL 28
DIOVAN 20
CLONIDINE HCL 43
SIMVASTATIN 14
ABILIFY 11
NEXIUM 44
PANTOPRAZOLE SODIUM 13
POTASSIUM CHLORIDE 30
ALPRAZOLAM 45
TEMAZEPAM 41
LISINOPRIL 44
CIPROFLOXACIN HCL 19
MEGESTROL ACETATE 11
CALCIUM ACETATE 85
TAMSULOSIN HCL 14
RANITIDINE HCL 21
PRAVASTATIN SODIUM 13
BUMETANIDE 53
SERTRALINE HCL 14
LEVOTHYROXINE SODIUM 12
DIAZEPAM 24
CARISOPRODOL 40
ZOLPIDEM TARTRATE 41
HYDROCHLOROTHIAZIDE 59
CARVEDILOL 36
OMEPRAZOLE 35
LOSARTAN POTASSIUM 41
METOLAZONE 73
OXYCODONE HCL 51
FUROSEMIDE 162
SENSIPAR 94
GLYBURIDE 16
ISOSORBIDE MONONITRATE ER 13
BENAZEPRIL HCL 11
ATENOLOL 62
NOVOLOG 12
METOPROLOL SUCCINATE 104
LISINOPRIL-HYDROCHLOROTHIAZIDE 19
ATORVASTATIN CALCIUM 19
PREDNISONE 40
RENVELA 117
BYSTOLIC 14
ATENOLOL-CHLORTHALIDONE 53
NIFEDICAL XL 32
AMLODIPINE BESYLATE-BENAZEPRIL 12
METOPROLOL TARTRATE 93
MELOXICAM 29
DOXAZOSIN MESYLATE 26
NIFEDIPINE ER 51
LOSARTAN-HYDROCHLOROTHIAZIDE 14



cms_prescription_counts {'AMOXICILLIN': 52, 'HYDROCODONE-ACETAMINOPHEN': 28, 'CEPHALEXIN': 23}
<class 'dict'>
AMOXICILLIN 52
HYDROCODONE-ACETAMINOPHEN 28
CEPHALEXIN 23



cms_prescription_counts {'CLINDAMYCIN HCL': 11, 'AMOXICILLIN': 73, 'CEPHALEXIN': 28}
<class 'dict'>
CLINDAMYCIN HCL 11
AMOXICILLIN 73
CEPHALEXIN 28

,ABILIFY,ALLOPURINOL,ALPRAZOLAM,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE-BENAZEPRIL,ATENOLOL,ATENOLOL-CHLORTHALIDONE,ATORVASTATIN CALCIUM,AZITHROMYCIN,BENAZEPRIL HCL,...,RANITIDINE HCL,RENVELA,SENSIPAR,SERTRALINE HCL,SIMVASTATIN,SPIRONOLACTONE,TAMSULOSIN HCL,TEMAZEPAM,TRAMADOL HCL,ZOLPIDEM TARTRATE
0,11,86,45,175,12,62,53,19,18,11,...,21,117,94,14,14,50,14,41,11,41

In [36]:
dfs[1]

   AMOXICILLIN  CEPHALEXIN  HYDROCODONE-ACETAMINOPHEN
1           52          23                         28

In [37]:
dfs[2]

   AMOXICILLIN  CEPHALEXIN  CLINDAMYCIN HCL
2           73          28               11

In [49]:
combine = pd.concat(dfs, axis=1)
combine

,ABILIFY,ALLOPURINOL,ALPRAZOLAM,AMLODIPINE BESYLATE,AMLODIPINE BESYLATE-BENAZEPRIL,ATENOLOL,ATENOLOL-CHLORTHALIDONE,ATORVASTATIN CALCIUM,AZITHROMYCIN,BENAZEPRIL HCL,...,TAMSULOSIN HCL,TEMAZEPAM,TRAMADOL HCL,ZOLPIDEM TARTRATE,AMOXICILLIN,CEPHALEXIN,HYDROCODONE-ACETAMINOPHEN,AMOXICILLIN,CEPHALEXIN,CLINDAMYCIN HCL
0,11.0,86.0,45.0,175.0,12.0,62.0,53.0,19.0,18.0,11.0,...,14.0,41.0,11.0,41.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,52.0,23.0,28.0,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,73.0,28.0,11.0

### Seems this will work to combine records into single dataframe

In [64]:
%%time
df = pd.DataFrame()
for i, record in enumerate(d[:1000]):
    for key, value in record.items():
        if 'cms_prescription_counts' in key:
            s = pd.Series(value)
            df_temp = s.to_frame().T
            df_temp = df_temp.rename(index={0: i})
            df = df.append(df_temp)

Wall time: 17.1 s

In [60]:
df.head()

,ABACAVIR,ABILIFY,ABILIFY MAINTENA,ACARBOSE,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACIPHEX,ACTONEL,ACTOS,ACYCLOVIR,...,ZOLOFT,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA
0,NaN,11.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,41.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.0,NaN,NaN,...,NaN,35.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [55]:
df.tail()

,ABACAVIR,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ACARBOSE,ACEBUTOLOL HCL,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACETIC ACID,ACIPHEX,...,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA,ZYVOX
995,NaN,NaN,NaN,NaN,NaN,NaN,40.0,NaN,NaN,NaN,...,45.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
996,NaN,NaN,NaN,NaN,NaN,NaN,33.0,NaN,NaN,NaN,...,87.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
998,NaN,24.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999,NaN,371.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,63.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
df.describe()

,ABACAVIR,ABILIFY,ABILIFY DISCMELT,ABILIFY MAINTENA,ACARBOSE,ACEBUTOLOL HCL,ACETAMINOPHEN-CODEINE,ACETAZOLAMIDE,ACETIC ACID,ACIPHEX,...,ZOLPIDEM TARTRATE,ZOLPIDEM TARTRATE ER,ZOMIG,ZONALON,ZONISAMIDE,ZOSTAVAX,ZYPREXA,ZYPREXA RELPREVV,ZYTIGA,ZYVOX
count,6.000000,96.000000,1.0,3.000000,5.000000,1.0,56.000000,2.000000,1.0,6.000000,...,207.000000,16.000000,1.0,1.0,14.000000,10.000000,2.0,3.000000,8.000000,1.0
mean,26.166667,76.239583,13.0,22.666667,20.400000,11.0,22.160714,17.500000,16.0,17.666667,...,53.613527,18.812500,13.0,12.0,28.142857,17.300000,12.0,34.333333,37.500000,11.0
std,17.151288,78.991904,NaN,11.060440,7.021396,NaN,12.482390,0.707107,NaN,5.354126,...,72.008936,14.185527,NaN,NaN,25.527834,5.831905,0.0,24.172988,41.757805,NaN
min,12.000000,11.000000,13.0,11.000000,14.000000,11.0,11.000000,17.000000,16.0,13.000000,...,11.000000,11.000000,13.0,12.0,11.000000,11.000000,12.0,12.000000,11.000000,11.0
25%,12.750000,20.000000,13.0,17.500000,16.000000,11.0,14.000000,17.250000,16.0,14.250000,...,17.000000,12.000000,13.0,12.0,12.500000,13.000000,12.0,21.500000,11.750000,11.0
50%,22.000000,50.500000,13.0,24.000000,16.000000,11.0,17.500000,17.500000,16.0,15.500000,...,31.000000,14.000000,13.0,12.0,17.500000,15.000000,12.0,31.000000,21.000000,11.0
75%,32.000000,107.750000,13.0,28.500000,27.000000,11.0,26.000000,17.750000,16.0,19.750000,...,65.000000,18.500000,13.0,12.0,25.500000,21.500000,12.0,45.500000,44.250000,11.0
max,56.000000,427.000000,13.0,33.000000,29.000000,11.0,69.000000,18.000000,16.0,27.000000,...,783.000000,68.000000,13.0,12.0,95.000000,28.000000,12.0,60.000000,135.000000,11.0